[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alfred"]
	path = alfred
	url = https://github.com/onnokleen/alfred
[submodule "mfGARCH"]
	path = mfGARCH
	url = https://github.com/onnokleen/mfgarch
